form {
    width: 800px;
    margin: 30px auto;
    border: solid 1px #CCC;
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 5px;

}

input[type="text"],
input[type="number"] {
    border: solid 1px #CCC;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    width: 193px;

}

#btnCadastrar {
    border: solid 1px rgb(19, 160, 0);
    border-radius: 5px;
    padding: 5px;
    background-color: #09AA03;
    color: #FFF;
    width: 150px;

}
.btnEditar {
    border: solid 1px rgb(254, 172, 65);
    border-radius: 5px;
    padding: 5px 1px;
    background-color: rgb(254, 172, 65);
    color: #FFF;
    width: 100px;
}
#btnExcluir {
    border: solid 1px rgb(255, 63, 63);
    border-radius: 5px;
    padding: 5px 1px;
    background-color: rgb(255, 63, 63);
    color: #FFF;
    width: 100px;
    margin-left: 1rem;
}
table {
    width: 800px;
    margin: 30px auto;
    border: solid 1px #CCC;
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.tableTitle {
    text-align: center;
}